@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
body,
html {
  font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
  background-color: #232323;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
label > * {
  pointer-events: none;
}
#main {
  margin-top: 50px;
  padding: 10px;
}
#homeLogo {
  margin-top: 15px;
  background: url("/img/logocouleur@2x.png") no-repeat center center;
  background-size: 200px 57px;
  height: 100px;
}
/*@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#homeLogo {
		background-image: url("/img/logocouleur@2x.png");
	}
}
*/
.searchbox-container {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
.searchbox-container > .col-xs-9 {
  padding-right: 0;
}
.searchbox-container > .col-xs-3 {
  padding-left: 0;
  text-align: right;
}
.searchbox-container input.searchbox,
.searchbox-container .icon-search {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none !important;
}
.searchbox-container input.searchbox {
  border-right-width: 0;
}
.searchbox-container .icon-search {
  border-left-width: 0;
  padding-top: 10px;
  color: #666;
}
snap-content,
[snap\:content],
[snap-content],
[data-snap-content],
[x-snap-content],
.snap-content,
.x-snap-content,
snap-drawers,
[snap\:drawers],
[snap-drawers],
[data-snap-drawers],
[x-snap-drawers],
.snap-drawers,
.x-snap-drawers,
.snap-drawers,
.snap-content {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  width: auto;
  left: 0;
  right: 0;
}
snap-drawer,
[snap\:drawer],
[snap-drawer],
[data-snap-drawer],
[x-snap-drawer],
.snap-drawer,
.x-snap-drawer,
.snap-drawer {
  position: absolute;
  height: auto;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-transition: top 0.2s linear;
  -moz-transition: top 0.2s linear;
  -o-transition: top 0.2s linear;
  transition: top 0.2s linear;
  -webkit-transition: bottom 0.2s linear;
  -moz-transition: bottom 0.2s linear;
  -o-transition: bottom 0.2s linear;
  transition: bottom 0.2s linear;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 265px;
}
.snap-content {
  z-index: 2;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.snap-drawer-left {
  left: 0;
  z-index: 1;
}
.snap-drawer-right {
  right: 0;
  z-index: 1;
}
.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}
.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}
.snap-drawer {
  background-color: #232323;
}
.snap-content {
  background-color: white;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
}
.header {
  height: 45px;
  background-color: #2489c5;
  padding: 8px;
}
.header .divider {
  width: 1px;
  opacity: .5;
  height: 45px;
}
.header [class^="icon-"] {
  color: #fff;
  font-size: 20px;
}
.list-group .list-group-item {
  background: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #333;
  color: white;
  margin-top: 5px;
}
.list-group .list-group-item:first-child {
  border-top: 1px solid #333;
  margin-top: 0;
  padding-top: 15px;
}
.list-group .list-group-item h4 {
  font-size: 16px;
  font-weight: 500;
}
.list-group .list-group-item .badge {
  background-color: #2489c5;
}
.list-group .list-group-item .list-group-item-heading {
  color: white;
}
.list-group .list-group-item .list-group-item-text {
  font-size: 11.9px;
  opacity: .5;
}
.list-group .list-group-item:hover,
.list-group .list-group-item:active {
  background: none;
}
.list-group .list-group-item:hover .badge,
.list-group .list-group-item:active .badge {
  background-color: white;
  color: #2489c5;
}
.list-group .list-group-item [class^="icon"] {
  opacity: .5;
  margin-right: 10px;
  margin-top: -2px;
}
.list-group .list-group-item ul {
  display: none;
  list-style: none;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-group .list-group-item ul li {
  opacity: .7;
  margin-bottom: 15px;
}
.snap-drawer-left {
  color: white;
}
.user-info {
  padding: 20px;
  height: 90px;
  background-color: #272727;
  margin-right: 0;
}
.user-info [class^="col-xs"] {
  padding-left: 5px;
}
.user-info h4 {
  font-size: 16px;
  margin-bottom: 2px;
  font-weight: 500;
}
.user-info p {
  opacity: .5;
  font-size: 12px;
}
.user-info img.img-circle {
  width: 50px;
  height: 50px;
}
.checkbox {
  margin-bottom: 20px;
  margin-top: 20px;
}
label.checkbox {
  padding-left: 0;
  width: 80%;
  color: #999;
  font-weight: normal;
  padding-left: 40px;
  /*span{
        margin-left: 40px;
        opacity: .5;
        font-weight: normal;
    }
*/
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + div.regular-checkbox {
  width: 20px;
  height: 20px;
  pointer-events: none;
  float: right;
  border: 1px solid rgba(255, 255, 255, 0);
}
input[type="checkbox"] + div.regular-checkbox.dark {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
input[type="checkbox"]:checked + div.regular-checkbox.blue {
  background-color: #2489c5;
}
input[type="checkbox"]:checked + div.regular-checkbox.green {
  background-color: #1f7f5c;
}
input[type="checkbox"]:checked + div.regular-checkbox.orange {
  background-color: #de8650;
}
input[type="checkbox"]:checked + div.regular-checkbox.purple {
  background-color: #6a5a8c;
}
input[type="checkbox"]:checked + div.regular-checkbox:after {
  pointer-events: none;
  font-family: 'fontello';
  font-size: 11px;
  content: '\e803';
  color: #fff;
  margin-left: 4px;
}
.big-checkbox {
  padding: 18px;
}
.big-checkbox:checked:after {
  font-size: 18px;
  left: 11px;
  top: 9px;
}
