
// main header config
.header{
	height: 45px;
	background-color: @blue-qwant;
	padding: 8px;

	.divider{
		width: 1px;
		opacity: .5;
		height: 45px;
		position: absolute;
		margin-left: 100%;
	}

	[class^="icon-"] {
		color: #fff;
		font-size: 20px;
	}

}
