

.list-item{
	// background-color: white;
	// border:1px solid #d8d8d8;
	// border-bottom-width: 2px;
	// min-height: 80px;
	margin-bottom: 30px;
	padding:5px;
	position: relative;
	// pointer-events:none;

	h4{
		margin-bottom: 5px;
		// display: inline-block;
		font-weight: 500;
		font-size: 16px;
	}

	span.time{
		opacity: .7;
		font-size: 12px;
		margin-left: 5px;
	}

	.list-item-footer{
		height: 30px;
		background-color: #eee;
		position: absolute;
		// bottom: 0;
		// width: 100%;
		left: 0;
		right: 0;
	}

	p.desc{
		margin-top: 5px;
		font-size: 12px;
		opacity: .5;
		// margin-bottom: 40px;
	}

	span.source {
		text-transform: uppercase;
		font-size: 10px;
		font-weight: bold;
		color: white;
		padding: 2px 5px;
		padding-top: 2px;
		margin-left: 2px;
		&.web{ background-color: @green; }
		&.news{ background-color: @orange; }
		&.social{ background-color: @blue-qwant; }
		&.shopping{ background-color: @purple; }
		&.media{ background-color: @red; }
	}
}