
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

// font settings
@font-family-sans-serif:  "Helvetica Neue", "Arimo", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;
@font-family-fontello:    'fontello';

@font-family-open-sans :  "Open Sans", "Arimo", Helvetica, Arial, sans-serif;



@font-size-base:          14px;
@font-size-large:         (@font-size-base * 1.25); // ~18px
@font-size-xlarge:        (@font-size-base * 1.50); // ~21px
@font-size-small:         (@font-size-base * 0.85); // ~12px
@font-size-mini:          (@font-size-base * 0.75); // ~11px


// colors
@blue-qwant:#2489c5;
@green:#1f7f5c;
@blue:#5a9aa8;
@orange:#de8650;
@purple:#6a5a8c;
@pink:#8c5d79;
@grey-light:#c9c9c9;
@red:#c0392b;