<div ng-controller="SearchController">
	<!-- <input type="text" ng-model="term"></input><button ng-click="search.nextPage(term)">valider</button> -->
	<div infinite-scroll="search.nextPage(term)" infinite-scroll-disabled="false" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
		<div ng-repeat="item in search.items">
			<!-- <p>{{item.title}}</p> -->
			<div class="list-item">
				<span class="title" ng-bind-html="item.title"></span>
				<span class="source {{item.s}}">{{item.s}}</span>
				<p class="desc" ng-bind-html="item.desc"></p>
				<div class="list-item-footer"></div>
			</div>
		</div>
	</div>
	<p ng-show="search.busy">Loading</p>
</div>
