<div id="main-content" class="blog">
	<div ng-controller="SearchController">
		<!-- <input type="text" ng-model="term"></input><button ng-click="search.nextPage(term)">valider</button> -->
		<div infinite-scroll="search.nextPage(term)" infinite-scroll-disabled="false" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
			<div ng-repeat="item in search.items">
				<!-- <p>{{item.title}}</p> -->
				<article>
					<div class="wrapped-content" style="padding-bottom:10px;">
						<div class="title">
							<span class="category {{item.s}}">{{item.s}}</span>
							<!-- <span class="category">news</span> -->
							<span class="time">il y a 2 jours</span>
						</div>
						<h2 ng-bind-html="item.title"></h2>
					</div>
					<div class="wrapped-content" style="padding-top:0;">
						<p class="desc" ng-bind-html="item.desc"></p>
						<hr>
						<p class="read-more"><a href="#">Read More</a></p>
					</div>
				</article>
			</div>
		</div>
		<p ng-show="search.busy">Loading</p>
	</div>
</div>