<div id="main-content" class="blog">
		<div infinite-scroll="search.nextPage(term)" infinite-scroll-disabled="false" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
			<div ng-repeat="item in search.items" ng-click="onClick($event, this)">
				<article ng-if="item.s !== 'social'">
					<div class="wrapped-content" style="padding-bottom:10px;">
						<div class="title">
							<span class="category {{item.s}}">{{item.s}}</span>
							<span class="time">il y a 2 jours</span>
						</div>
						<div>
							<img class="media-thumb" ng-if="(item.type && item.type === 'image') || item.s ==='shopping'" ng-src="{{item.thumbnail}}">
							<h2 ng-bind-html="item.title"></h2>
						</div>
					</div>
					<div ng-if="item.type && item.type === 'video'" style="margin:15px 0;">
						<!-- <iframe ng-src="{{item.media | yturlformat | sce }}" frameborder="0"></iframe> -->
						<div class="img-video-thumb">
							<img ng-src="{{item.thumbnail|hqthumb}}">
							<div class="play-button icon-play"></div>
						</div>
					</div>
					<div class="wrapped-content" style="padding-top:0;">
						<p class="desc" ng-bind-html="item.desc"></p>
						<hr>
						<span class="read-more"><a ng-href="{{item.url}}" target="_blank">{{item.url_display || item.url | host}}</a></span>
						<span ng-if="item.s === 'shopping'" class="pricing">{{item.price | pricing}}</span>
					</div>
				</article>
				<article ng-if="item.s === 'social'" class="format-quote">
					<div class="wrapped-content">
						<div class="profile-container">
							<div class="article-profile-photo">
								<img ng-src="{{item.img}}">
							</div>
							<div class="article-profile"><p>{{item.title}}</p><p class="time">il y a 2 minutes</p></div>
						</div>
						<blockquote class="icon-twitter" ng-bind-html="item.desc"></blockquote>
					</div>
				</article>
			</div>
		</div>
		<div class="spinner-container" style="height:80px;">
		   <span class="spinner"></span>
		</div>
		<!-- <p ng-show="search.busy">Loading</p> -->
</div>