<div snap-drawer>
	<div id="sidemenu">
		<div id="author-profile">
			<div class="author-profile-photo">
				<img src="img/baptiste.jpeg">
			</div>
			<div class="author-profile-content">
				<p class="title">{{user.name}}</p>
				<p class="subtitle">{{user.email}}</p>
			</div>
		</div>
		<nav id="nav-container" accordion>
			<ul class="nav">
				<li class="current"><a class="icon-search-1" href="#">Recherche</a>
					<ul class="checkbox-list">
						<label class="checkbox" ng-repeat="cb in cbs">
							<li>							
								<input type="checkbox" ng-model="cb.checked" ng-change="onCbChange()" /> 
								<div class="regular-checkbox dark {{cb.color}}"></div>
								{{cb.text}}
							</li>
						</label>
						<li class="search-ctrl">
							<div class="sidebar-input-ctrl">
								<input type="text" ng-model="term" placeholder="{{defaultTerm}}">
								<a class="sidebar-search" ng-href="#/search?q={{term}}&source={{topics|topicsFilter}}"><i class="icon-search"></i></a>
							</div>
						</li>
					</ul>					
				</li>
				<li><a href="#" class="nav-with-ul icon-cog">Paramètres</a></li>
				<li><a href="#" class="nav-with-ul icon-info-1">Qwant</a></li>
			</ul>
		</nav>
		<img src="/img/logogris@2x.png" style="margin:33px 0 35px 55px;" width="133px" height="38px">
	</div>
</div>