<div snap-drawer>
	<div id="sidemenu">
		<div id="author-profile">
			<div class="author-profile-photo">
				<img src="img/baptiste.jpeg">
			</div>
			<div class="author-profile-content">
				<p class="title">Baptiste</p>
				<p class="subtitle">blemoine@gmail.com</p>
			</div>
		</div>
		<nav id="nav-container">
			<ul class="nav">
				<li class="current"><a class="current icon-search-1" href="#">Recherche</a>
					<ul class="active checkbox-list">
						<label class="checkbox">
							<li>							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark green"></div>
								Web
							</li>
						</label>
						<label class="checkbox">
							<li>							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark orange"></div>
								Actualités
							</li>
						</label>
						<label class="checkbox">
							<li>							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark blue"></div>
								Social
							</li>
						</label>
						<label class="checkbox">
							<li>							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark red"></div>
								Médias
							</li>
						</label>
						<label class="checkbox">
							<li>							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark yellow"></div>
								Shopping
							</li>
						</label>
						<li class="search-ctrl">
							<div class="sidebar-input-ctrl">
								<input type="text" placeholder="{{term}}">
								<a class="sidebar-search" href="#"><i class="icon-search"></i></a>
							</div>
						</li>
					</ul>
					
				</li>
				<li><a href="#" class="nav-with-ul icon-cog">Paramètres</a></li>
				<li><a href="#" class="nav-with-ul icon-info-1">Qwant</a></li>
			</ul>
		</nav>
	</div>
</div>