<div snap-drawer="right">
	<div class="details-container" ng-if="!item">
		<div class="wrapper">
			<h2>Hot trends comes here, not yet implemented</h2>
		</div>
	</div>
	<div class="details-container" ng-if="item && item.s !== 'social'">
		<div class="wrapper">
			<div class="title">
				<span class="category {{item.s}}">{{item.s}}</span>
				<span class="time">il y a 2 jours</span>
			</div>
			<div class="thumb-container" ng-if="(item.type && item.type === 'image') || item.s ==='shopping'">
				<img class="media-thumb" ng-src="{{item.thumbnail}}">
			</div>
			<h2 ng-bind-html="item.title"></h2>
		</div>
		<div ng-if="item.type && item.type === 'video'" style="margin-bottom:10px; margin-top:15px;" class="flex-video">
			<iframe ng-src="{{item.media | yturlformat | sce }}" frameborder="0"></iframe>
		</div>
		<div class="wrapper desc">
			<p class="desc" ng-bind-html="item.desc"></p>
		</div>
		<div class="wrapper" style="padding-top:0">
			<a style="color:white;" ng-href="{{item.url}}" target="_blank">{{item.url_display || item.url | host}}</a>
			<span ng-if="item.s === 'shopping'" class="pricing">{{item.price | pricing}}</span>
		</div>
		<div class="wrapper share-area" ng-class="{true:'active', false:''}[share.active]" share-area>
			<div class="state-one">
				<button class="icon-share" ng-click="share.social=true;share.active=true">Share</button>
				<button class="icon-plus" ng-click="share.social=false;share.active=true">Carnets</button>
				<button class="icon-star" ng-click="item.favorite=!item.favorite" ng-class="{true:'active', false:''}[item.favorite]"></button>
			</div>
			<div class="state-two" ng-click="share.active=!share.active;">
				<button class="blue icon-left-open"></button>
				<div class="social-container" ng-show="share.social">
					<i class="icon-facebook-circled"></i>
					<i class="icon-twitter-circled"></i>
					<i class="icon-gplus-circled"></i>
					<i class="icon-pinterest-circled"></i>
				</div>
				<div class="carnet-container" ng-show="!share.social">
					carnets
				</div>
			</div>
		</div>
		<p></p><p></p>
	</div>
	<div class="details-container" ng-if="item && item.s === 'social'">
		<div class="wrapper">
			<div class="title">
				<span class="category {{item.s}}">{{item.type}}</span>
				<span class="time">il y a 2 jours</span>
			</div>
			<div class="profile-container">
				<div class="article-profile-photo">
					<img ng-src="{{item.img}}">
				</div>
				<div class="article-profile"><p>{{item.title}}</p><p class="time">il y a 2 minutes</p></div>
			</div>
		</div>
		<div class="wrapper desc">
			<p class="desc" ng-bind-html="item.desc"></p>
		</div>
		<div class="wrapper" style="padding-top:0">
			<a ng-href="{{item.url}}" class="button blue" target="_blank">{{item.url_display || item.url | host}}</a>
		</div>
	</div>
</div>