<div snap-drawer>
	<div id="sidemenu">
		<div id="author-profile">
			<div class="author-profile-photo">
				<img src="img/baptiste.jpeg">
			</div>
			<div class="author-profile-content">
				<p class="title">Baptiste</p>
				<p class="subtitle">blemoine@gmail.com</p>
			</div>
		</div>
		<nav id="nav-container">
			<ul class="nav">
				<li class="current"><a class="current icon-search-1" href="#">Recherche</a>
					<ul class="active checkbox-list">
						<label class="checkbox">
							<li class="icon-dot-2 green">							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark"></div>
								Web
							</li>
						</label>
						<label class="checkbox">
							<li class="icon-dot-2 orange">							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark"></div>
								Actualités
							</li>
						</label>
						<label class="checkbox">
							<li class="icon-dot-2 blue">							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark"></div>
								Social
							</li>
						</label>
						<label class="checkbox">
							<li class="icon-dot-2 red">							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark"></div>
								Médias
							</li>
						</label>
						<label class="checkbox">
							<li class="icon-dot-2 yellow">							
								<input type="checkbox" checked value="web" onclick="null" /> 
								<div class="regular-checkbox dark"></div>
								Shopping
							</li>
						</label>

					</ul>
				</li>
				<li><a href="#" class="nav-with-ul icon-cog">Paramètres</a></li>
				<li><a href="#" class="nav-with-ul icon-info-1">Qwant</a></li>
			</ul>
		</nav>
	</div>
</div>