<div class="img-container">
	<img class="img-bg" src="img/taormina.jpg">
	<div class="user-info">
		<div class="user-profile-photo">
			<img src="img/baptiste.jpeg">
		</div>
		<div class="user-profile-content">
			<p class="title">Baptiste Lemoine</p>
			<p class="subtitle">baptiste.lemoine@gmail.com</p>
			<div class="item-details">
				<div class="item-container"><p class="item-title">Notes</p><p class="item-count">12</p></div>
				<div class="item-container"><p class="item-title">Favoris</p><p class="item-count">24</p></div>
				<div class="item-container"><p class="item-title">Carnets</p><p class="item-count">7</p></div>
			</div>
		</div>
	</div>
</div>