
.details-container{
	color:white;
	.wrapper{
		padding: 20px;
		h2{
			font-size: 18px;
			font-weight: 500;
			color: white;
		}
		p.desc{
			font-size: 13px;
			color: white;
			opacity: .6;
		}
	}

	

}