<!doctype html>
<html lang="en" ng-app="qwant">
<head>
  <meta charset="utf-8">
  <title>Qwant - Mobile</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
  <div ng-controller="SearchController">
    <input type="text" ng-model="term"></input><button ng-click="launchSearch()">valider</button>
    <div ng-repeat="item in items">
      <p>{{item.title}}</p>
    </div>
  </div>
  <!-- <div ng-view></div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services/ConfigManager.js"></script>
  <script src="js/services/SearchManager.js"></script>
  <script src="js/controllers/controllers.js"></script>
  <script src="js/filters/filters.js"></script>
  <script src="js/directives/directives.js"></script>
</body>
</html>
